@mixin forma($color:#111,$ancho:100px,$alto:100px) {
    background-color:$color;
    width: $ancho;
    height: $alto;
}
//$colores:(#333,#666,#888);
$color:null;
@for $i from 1 through 6 {
    @debug ""+$i+"%3="+$i%3;
    @if($i%3==1){
        $color:red;
    }
    @else{
        $color:green;
    }
    #rec#{$i}{
        @include forma($color,300px,50px);
    }        
}

// @each $color in $colores {
//     $i:index($colores , $color );
//     #rec#{$i}{
//         @include forma($color,300px,50px);
//     }            
// }

// #rec1{
//     @include forma(nth($colores,4),300px,50px);
// }
// #rec2{
//     @include forma($color*2,400px,20px);
// }
// #rec3{
//     @include forma($color*4,100px,50px);
// }