@mixin forma($color:#111,$ancho:100px,$alto:100px) {
    background-color:$color;
    width: $ancho;
    height: $alto;
}
$color:#333;
$colores:(#333,#666,#888,#aaa);
#rec1{
    @include forma(nth($colores,4),300px,50px);
}
#rec2{
    @include forma($color*2,400px,20px);
}
#rec3{
    @include forma($color*4,100px,50px);
}