/*
#hola p{
    color: hotpink;
}
#hola span{
    color: darkblue;
}
#hola div p{
    color: crimson;
}
*/
#hola {
  p {
    color: hotpink;
  }
  span {
    color: darkblue;
  }
  div {
    p {
      color: crimson;
    }
  }
}
